body {
  font-family: sans-serif;
  margin: 0;
}

.container {
  width: 80%;
  padding: 60px 0;
  max-width: 1000px;
  margin: auto;
}

.section-one h2 {
  font-size: 48px;
}

.section-one p {
  font-size: 21px;
}

.section-one button {
  color: #23424a;
  font-size: 20px;
  background-color: #38cfd9;
  border: none;
  border-radius: 300px;
  padding: 0.75em 1.8em;
  font-weight: bold;
}

.section-one {
  background-color: #23424a;
  color: white;
}

.inner-container {
  width: 60%;
}

.section-two h2 {
  color: #87629a;
}

.section-two {
  display: flex;
}
.col {
  width: 100%;
  text-align: center;
}

.section-three {
  background-color: #136c72;
  color: white;
}

.section-three .container {
  display: flex;
}

.col + .col {
  margin-left: 15px;
}

p {
  font-size: 21px;
}
